.displayimg {
    border: 1px solid black;
    margin-top: 50px;
    height: 400px;
    margin-right: 2vw;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
.ttldesc {
    margin-top: 50px;
}
.ttl {
    height: 150px;
    border: 1px solid black;
}
.desc {
    height: 250px;
    border: 1px solid black;
}
.buy {
    margin-top: 50px;
    border: 1px solid black;
}
.slc {
    margin-top: 50px;
    border: 1px solid black;
    margin-right: 1vw;
    margin-left: 3vw;
}
.slc1 {
    border: 1px solid black;
    border-radius: 2vw;
    margin-top: 2.5vw;
    background-image: url(Little\ Bird\ Toy\ Co\ Site\ Photos/block2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vw;
    width: 5vw;
    margin-left: 1vw;
}
.slc2 {
    border: 1px solid black;
    border-radius: 2vw;
    margin-top: 2vw;
    background-image: url(Little\ Bird\ Toy\ Co\ Site\ Photos/block1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vw;
    width: 5vw;
    margin-left: 1vw;
}
.slc3 {
    border: 1px solid black;
    border-radius: 2vw;
    margin-top: 2vw;
    background-image: url(Little\ Bird\ Toy\ Co\ Site\ Photos/block3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vw;
    width: 5vw;
    margin-left: 1vw;
}
.but1 {
    border: 0px;
    background-color: transparent;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/200/300");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navimgsizing {
    height: 4rem;
}