.displayimg {
    margin-top: 50px;
    height: 40vw;
    margin-right: 2vw;
    border-radius: 3vw;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }
.ttldesc {
    margin-top: 50px;
}
.ttl {
    height: 20vw;
    border-bottom: 1px solid black;
    font-size: 3vw;  
    font-weight: 700;  
}
.ttls {
    color: rgb(217, 119, 33);
    font-size: 3vw;  
    font-weight: 700;  
    padding-top: 1vw;
    padding-bottom: 2vw;

}
.desc {
    height: 15vw;
    border-top: 1px solid black;
    font-size: 1.5vw;  
    font-weight: 100;  

}
.buy {
    margin-top: 50px;
    width: 15%;
}
.slc {
    margin-top: 50px;
    margin-right: 1vw;
    margin-left: 3vw;
}
.slc1 {
    background: url("LittleBirdToyCoSitePhotos/block2.jpg");
    border: 1.5px solid rgb(66, 66, 66);
    border-radius: 2vw;
    margin-top: 2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5vw;
    width: 7vw;
    margin-left: -2vw;
}
.slc2 {
    background: url("LittleBirdToyCoSitePhotos/block1.jpg");
    border: 1.5px solid rgb(66, 66, 66);
    border-radius: 2vw;
    margin-top: 3vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5vw;
    width: 7vw;
    margin-left: -2vw;
}
.slc3 {
    background: url("LittleBirdToyCoSitePhotos/block3.jpg");
    border: 1.5px solid rgb(66, 66, 66);
    border-radius: 2vw;
    margin-top: 3vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5vw;
    width: 7vw;
    margin-left: -2vw;
}
.but1 {
    border: 0px;
    background-color: transparent;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  background-image: url("https://www.shutterstock.com/image-vector/purple-cityscape-background-city-buildings-600nw-2296429971.jpg");
  border-bottom: .4vw solid rgb(72, 72, 72);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100% 100%;
  box-shadow:0vw 0vw 2vw orangered;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navimgsizing {
    height: 4rem;
}
.pluh {
    background-color: #FF914D;
    height: 8vw;
    border-bottom: .3vw solid rgb(92, 92, 92);
}

.headersize1 {
    font-size: 8vw;
}


.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .containerz {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 15vw;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  #pluh {
    padding: auto;
    width: auto;
    margin-bottom: auto;
  }
  #btn1 {
    width: 100%;
    background-color: #04AA6D;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    color: white;
    border: none;
    cursor: pointer;
    background-color: #898989;

  }
  
  .btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  
  .review {
    border: .15vw solid black;
    border-radius: 2vw;
    padding: 1vw;
    width: 40vw;
    margin-left: -10vw;
    height: 22rem;
    margin-top: 7vw;
  }
  #press-quote {
    text-align: center;
    padding-top: 1.5vw;
  }
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: rgb(255, 234, 0);
  }
  
  #star {

  }
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 62%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 33%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 16%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 6%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
  
  .footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-with-columns */

  